appdirs==1.4.4
attrs==19.3.0     
bcrypt==3.1.7     
certifi==2020.6.20
cffi==1.14.0      
click==7.1.2      
distlib==0.3.1    
dnspython==1.16.0
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pathspec==0.8.0
pipenv==2022.1.8
pycparser==2.20
pymongo==3.10.1
regex==2020.7.14
six==1.15.0
unicorn==1.0.1
virtualenv==20.0.27
virtualenv-clone==0.5.4
Werkzeug==1.0.1
zipp==3.1.0